<section class="text-center">
    <h1 class="heading-text" style="font-size: 50px">
        Showcase your product
    </h1>
    <h3 class="title-text">
        <b>Cider</b> is a simple, elegant, and lightweight wmk theme for product, project, or company websites.
    </h3>
</section>
<div class="img-container">
  <img class="hero-image" style="max-width:100%;" src="/cider.png" width="512">
</div>

<div class="explore-more text"
     onclick="document.getElementById('features').scrollIntoView({behavior: 'smooth'})">
    Explore More ⇩
</div>
<style>
.hero .text-center { max-width: 768px; }
.hero .img-container { max-width: 512px; }
@media screen and (max-width: 767px) {
  .hero section {
    max-width: 100%;
  }
  .hero-image {
    display: none
  }
}
</style>
